<div class="row vcentered">
    <div class="col -4">
        <figure>
            <a href="{{link}}" target="_blank">
                <img src="assets/images/{{icon}}.png" width="20%">
            </a>
            <figcaption class="figure-caption text-center">{{caption}}</figcaption>
        </figure>
    </div>
    <div class="col-md-6">
        <div class="progress">
            <div id="bar-html" class="progress-bar bg-success" role="progressbar" style="width: {{currentValue}}%" aria-valuenow="currentValue" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</div>